html{
    scroll-behavior: smooth;
}
  body{
    background-color: rgb(233, 233, 233);
    margin: unset;
    top: unset;
}
@font-face {
    font-family: 'Harlow-Solid-Regular';
    src: url('./Harlow Solid Regular.ttf');
    /* font-weight: normal; */
}
/* Variables across the code */
:root{
    --custom-extra-light:rgb(255, 255, 255);
    --custom-light: #ebecf1;
    --custom-medium: #b4b4b4;
    --custom-dark: #9c9c9c;
    --custom-extra-dark: #494949;
}

.navbar{

}


/* Top Navigation Bar */
.navbar-top{
    /* padding: .5rem; */
    /* margin: .5rem; */
    display: flex;
    justify-content: space-between;
    
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100vw;
    transition: all .5s;
}
.navbar-top-bg-toggle{
    background-color: rgba(155, 155, 155, 0.315);
}
.navbar-top-menu-toggle-icon{
    padding: 10px;
    cursor: pointer;
}
.navbar-top-menu-toggle-icon-switch .navbar-top-menu-toggle-icon-line:first-child{
    transform: translateY(1rem) rotate(45deg);
}.navbar-top-menu-toggle-icon-switch .navbar-top-menu-toggle-icon-line:nth-child(2){
    width: 0;
    margin-left: 40px;
}
.navbar-top-menu-toggle-icon-switch .navbar-top-menu-toggle-icon-line:last-child{
    transform: translateY(-1rem) rotate(-45deg);
}

.navbar-top-menu-toggle-icon-line{
    height: 7px;
    width: 50px;
    background-color: rgb(124, 124, 124);
    margin: 10px;
    border-radius: 50px;
    transition: .5s;
}
.navbar-top-menu-toggle-icon:hover .navbar-top-menu-toggle-icon-line{
    background-color: rgb(172, 172, 172);
    
}
.navbar-top-searchbox{
    /* float: right; */
    padding: 8px 10px 8px 10px;
    margin: 15px 30px 15px 15px;
    display: flex;
    border: 3px solid rgb(134, 134, 134);
    border-radius: 50px;
}
.navbar-top-searchbox-input{
    outline: none;
    padding: 5px;
    border: none;
    background-color: transparent;
}
.navbar-top-searchbox-button{
    border: none;
    background-color: transparent;
    outline: none;
}
.navbar-top-searchbox-button i{
    color: rgb(134, 134, 134);
}
.navbar-top-searchbox-button i:hover{
    color: rgb(211, 211, 211);
}.navbar-top-searchbox-button i:active{
    color: rgb(255, 255, 255);
}


/* Side Nagivation Bar */
.navbar-left{
    z-index: 99;
    position: fixed;
    top: 0px;
    height: 100vh;
    /* width: 0; */

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar-left-menu-item{
    padding: 12px;
    display: flex;

}
.navbar-left-menu-item-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
    background-color: rgba(224, 224, 224, 0.363);
    border-radius: 50px;
    color: rgb(134, 134, 134);

}
.navbar-left-menu-item-link:hover{
    background-color: rgba(150, 150, 150, 0.363);
}
.navbar-left-menu-item-link:hover .navbar-left-menu-item-link-label{
    font-size: 25px;
    /*as font is biger than the box 
    hence its increasing the size of box as well*/
}
.navbar-left-menu-item-link-icon{
    color: rgb(134, 134, 134);
}
.navbar-left-menu-item-link-label{
    transition: font-size .4s;
    font-size: 0px;
    padding-left: 10px;
}
.navbar-left-menu-item-link-label-switch{
    font-size: 25px;
}


/* Main Containter */
.main-container{
}
/* Common Classes for the container */

.main-container-title{
    /* font-family: 'Monoton', cursive; */
    /* font-family: 'Stalinist One', cursive; */
    font-family: 'Seymour One', sans-serif;
    color: rgb(95, 95, 95);
    font-size: 2vw;
    text-transform: capitalize;
    /* background-color: brown; */
}



/* Home Containter */
.main-container-home{
    margin-top: 25px;
    margin-left: 80px;
    margin-right: 3vw;
    padding-left: 5vw;
    /* padding-top: 0rem; */
}
.main-container-home-brand{
    /* font-family: 'Monoton', cursive; */
    /* font-size: 7vw; */
    
    font-family: 'Harlow-Solid-Regular', cursive;
    font-size: 10vw;
    
    color: rgb(194, 194, 194);
    top: 6vw;
    position: relative;
    z-index: -2;
}
.main-container-home-content{
    display: flex;
}
.main-container-home-content-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.main-container-home-content-image{
    z-index: -1;
    height: 30vw;
    filter: drop-shadow(-50px 10px 9px rgba(100, 100, 100, 0.89));
}
.main-container-home-content-text-h1{
    padding: 15px;
}
.main-container-home-content-text-p{
    padding: 15px 15px 2vw 15px;
    margin-bottom: 25px;
    font-size: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Skils Container */
.main-container-skill{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -8px 15px #b3b3b34b;
    padding-right: 3vw;
    padding-left: calc(80px + 5vw);
    padding-top: 80px;
    padding-bottom: 70px;
}
.main-container-skill-hwidget{
    display: flex;
    justify-content: center;
    padding: 12px 4vw 12px 4vw;
}
.main-container-skill-hwidget-button{
    
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 12px;
    /* margin-left: 3rem; */
    color:rgb(160, 160, 160);
}
.main-container-skill-hwidget-card-container::-webkit-scrollbar{
    /* display: none; */
}
.main-container-skill-hwidget-card-container{

    /* min-width: 20vw; */
    padding: 25px 0 25px 0;
    display: flex;
    /* overflow-x: scroll; */
    overflow-x: hidden;
    transition: .5s;
    scroll-behavior: smooth;
}
.main-container-skill-hwidget-card{
    height: 440px;
    min-width: 250px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.1rem;
    background-color: rgba(231, 231, 231, 0.685);
    border-radius: 7px;
    transition: .5s;
}
.main-container-skill-hwidget-card:hover{
    /* margin: 2rem; */
    box-shadow: 0 0 1rem rgb(150, 150, 150);
    
    height: 460px;
    min-width: 270px;
}
.main-container-skill-hwidget-card-arc{
    height: 100px;
    width: 200px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.main-container-skill-hwidget-card-labelbox{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.main-container-skill-hwidget-card-labelbox-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.main-container-skill-hwidget-card-labelbox-img{
    /* width: 3rem; */
    height: 3rem;
}
.main-container-skill-hwidget-card-description{
    /* width: 3rem; */
    text-align: center;
    padding: 1rem;
}


/* Project Container */
.main-container-project{
    /* background-color: rgb(145, 177, 168); */
    /* box-shadow: 0px -10px 10px #9494947e; */
    padding-right: 3vw;
    padding-left: calc(6.5rem + 5vw);
    padding-top: 5rem;
}
.main-container-projectbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container-projectbox-elementbox{
    margin: 1vw;
    padding: 4vw 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(197, 197, 197, 0.5);
    border-radius: 10px;
    transition: all .5s;
}
.main-container-projectbox-elementbox:hover{
    margin: 2vw;
    box-shadow: 0 0 10px rgb(155, 155, 155);
}
.main-container-projectbox-elementbox:nth-child(even){
    /* flex-direction: row-reverse; */
}
.main-container-projectbox-element-img{
    width: 25vw;
    width: 25vw;
}
.main-container-projectbox-element-textcontainer{
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main-container-projectbox-elementbox:nth-child(even) .main-container-projectbox-element-textcontainer{
    /* align-items: flex-start; */
    /* text-align: start; */
}
.main-container-projectbox-element-textcontainer-title{
    font-size: 20px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}   
.main-container-projectbox-element-textcontainer-description{
    text-align: inherit;
    max-width: 30vw;
}
.main-container-projectbox-element-textcontainer-linkbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-container-projectbox-element-textcontainer-link{
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    color: white;
    background-color: rgba(85, 85, 85, 0.603);
}
.main-container-projectbox-element-textcontainer-skillbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.main-container-projectbox-element-textcontainer-skill-label{
    font-weight: 600;
    padding: 10px;
}
.main-container-projectbox-element-textcontainer-skill-img{
    height: 30px;
    padding: 10px;
}


/* Experience Container */
.main-container-experience{
    /* background-color: rgb(145, 177, 168);
    box-shadow: 0px -10px 10px #9494947e; */
    padding-right: 3vw;
    padding-left: calc(6.5rem + 5vw);
    padding-top: 5rem;
}
/* Achievement Container */
.main-container-achieve{
    /* background-color: rgb(145, 177, 168);
    box-shadow: 0px -10px 10px #9494947e; */
    padding-right: 3vw;
    padding-left: calc(6.5rem + 5vw);
    padding-top: 5rem;
}




/* Contact Container */
.main-container-contact{
    background-color: rgb(56, 56, 56);
    /* box-shadow: 0px -10px 10px #9494947e; */
    /* padding-right: 3vw; */
    /* padding-left: calc(6.5rem + 5vw); */
    padding-top: 80px;
    /* padding-bottom: 40px; */
}
.main-container-contact-box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container-contact-box-labelbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-container-contact-box-labelbox{
    width: 100px;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: all .5s;
    border-radius: 50px;
    filter: grayscale();
}

.main-container-contact-box-labelbox:hover {
    /* background-color: rgb(155, 155, 155); */
    filter: unset;
}
.main-container-contact-box-labelbox-img{
    height: 25px;
}
.main-container-contact-box-labelbox-text{
}
.main-container-contact-box-message{
    color: rgb(180, 180, 180);
    font-size: larger;
}