body{
    /* background-color: var(--custom-extra-light); */
    margin: 0;
    left: 0;
    /* background-image: url('https://placeimg.com/1000/800/tech'); */    
    background-image: url("https://cdn.pixabay.com/photo/2017/08/31/13/34/blue-color-2700762_1280.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: 'Righteous-Regular';
    src: url('../fonts/Righteous-Regular.ttf');
    /* font-weight: 200; */
}
@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('../fonts/Shrikhand-Regular.ttf');
    /* font-weight: 300; */
}
@font-face {
    font-family: 'SigmarOne-Regular';
    src: url('../fonts/SigmarOne-Regular.ttf');
    /* font-weight: normal; */
}
:root{
    --custom-extra-light:white;
    --custom-light: #ebecf1;
    --custom-medium: #206a5d;
    --custom-dark: #1f4068;
    --custom-extra-dark: #1b1c25;
}
/* ========= Top Nav ============= */
.top-navbar{
    position: relative;
    top: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    z-index: 10;
}
.top-navbar-item{
    padding-left: .5rem;
    padding-right: .5rem;
}
.top-navbar-item:last-child{
    margin-left: auto;
    margin-right: 2vw;
}
.top-navbar-brand:link,
.top-navbar-brand:visited{
    color: var(--custom-extra-dark);
    text-decoration: none;
}
.top-navbar-item a:hover{
    color: var(--custom-medium);
}
/* .top-navbar-brand{
    font-size: 4vw;
    font-family: 'Righteous-Regular';
} */
.top-navbar-item-search-input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}
.top-navbar-item-search-box{
    display: flex;
    flex-direction: row;
    padding: .8rem;
    border: 2px solid black;
    border-radius: 5px;
}
.top-navbar-item-search-btn{
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}
/* ========== btn ======== */
.top-navbar-item-menu{
    cursor: pointer;
    padding: .6rem;
    padding-left: .5vw;
    margin-left: 1.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-navbar-item-menu:hover .top-navbar-item-menu-line{
    background-color: var(--custom-medium);
}
.top-navbar-item-menu:active .top-navbar-item-menu-line{
    background-color: var(--custom-extra-dark);
}
.top-navbar-item-menu-line{
    transition: .5s;
    height: .5rem;
    width: 3rem;
    margin: .3rem .5rem .3rem .5rem;
    border-radius: 1rem;
    background-color: var(--custom-extra-dark);
}
.top-navbar-item-menu-toggle .top-navbar-item-menu-line:first-child{
    transform: translateY(1.1rem) rotate(45deg);
}
.top-navbar-item-menu-toggle .top-navbar-item-menu-line:nth-child(2){
    width: 0;
    margin-left: 50%;
}
.top-navbar-item-menu-toggle .top-navbar-item-menu-line:last-child{
    transform: translateY(-1.1rem) rotate(-45deg);
}
/* ========= left Nav ============= */
.left-navbar{
    top: 0rem;
    z-index: 9;
    display: flex;
    height: 100%;
    min-height: 650px;
    flex-direction: column;
    justify-content: center;
    position: fixed;
}
.left-navbar-item{
    margin: 1.2vh;
    padding: 0.6vh;
    padding-left: 1vw;
    display: flex;
}
.left-navbar-item-box{
    transition: .5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    padding: 1.5vh;
    background-color: rgba(175, 163, 163, 0.5);
    color: var(--custom-light);
    /* box-shadow: 0 0 10px 10px rgba(175, 163, 163, 0.5); */
    border-radius: 3rem;
}
.left-navbar-item-box:link,
.left-navbar-item-box:visited{
    color: var(--custom-extra-dark);
    text-decoration: none;
}
.left-navbar-item-box:hover{
    color: var(--custom-medium);
}
.left-navbar-item-box-icon{
    padding: .2rem;
    text-align: center;
    width: 2rem;
}
.left-navbar-item-box-label{
    transition: font-size .5s;
    font-size: 0;
}
.left-navbar-item-box:hover{
    padding: 1.25rem;
}
.left-navbar-item-box:hover .left-navbar-item-box-label{
    padding-left: 1rem;
    font-size: 1.25rem!important;
}
/* ========= Main ============= */
.profile-pic{
    /* height: 10vh; */
    width: 40vw;
    transition: 1s;
    filter: drop-shadow(0px 0px 20px black);
    /* shape-outside: var(--custom-medium); */
    /* filter: contrast(0); */
    /* border-radius: 50%; */
    box-shadow: 0 0 0px 0px black;
}
.profile-pic:hover{
    filter: drop-shadow(0px 0px 30px black);
    /* height: 10vh; */
    /* width: 19vw; */
    /* background-color: rgba(175, 163, 163, 0.5); */
    /* box-shadow: 0 0 10px 10px black; */
}
.main-container{
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container-section:first-child{
    flex-direction: column;
    margin-top: 20vh;
}
.main-container-section-box{
    background-color: var(--custom-medium);
    width: 100%;
}
@media screen and (max-width:400px){

}