<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/home.css">
        <script src="../static/js/home.js"></script>
		<title>Arindam Sharma</title>
	</head>
	<body>
		<nav class="top-navbar">
			<div class="top-navbar-item">
                <div class="top-navbar-item-menu" onclick="myopen()">
                    <div class="top-navbar-item-menu-line"></div>
                    <div class="top-navbar-item-menu-line"></div>
                    <div class="top-navbar-item-menu-line"></div>
                </div>
            </div>
            <!-- <a class="top-navbar-item top-navbar-brand" href="index.html">
                <span>Arindam Sharma</span>
            </a> -->
			<form class="top-navbar-item top-navbar-item-search-box">
                <input class="top-navbar-item-search-input" type="text" placeholder="Search">
                <button class="top-navbar-item-search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
		</nav>
		<nav class="left-navbar">
            <div class="left-navbar-item">
			    <a class="left-navbar-item-box" href="">
					<i class="fa fa-home left-navbar-item-box-icon" aria-hidden="true"></i>
					<span class="left-navbar-item-box-label"> Home</span>
                </a>
            </div>
            <div class="left-navbar-item">
			    <a class="left-navbar-item-box" href="">
					<i class="fa fa-cogs left-navbar-item-box-icon" aria-hidden="true"></i>
					<span class="left-navbar-item-box-label"> Skills</span>
                </a>
            </div>
            <div class="left-navbar-item">
			    <a class="left-navbar-item-box" href="">
					<i class="fa fa-pie-chart left-navbar-item-box-icon" aria-hidden="true"></i>
					<span class="left-navbar-item-box-label"> Project/Experience</span>
                </a>
            </div>
            <div class="left-navbar-item">
			    <a class="left-navbar-item-box" href="">
					<i class="fa fa-trophy left-navbar-item-box-icon" aria-hidden="true"></i>
					<span class="left-navbar-item-box-label"> Achievements</span>
                </a>
            </div>
            <div class="left-navbar-item">
			    <a class="left-navbar-item-box" href="">
					<i class="fa fa-info left-navbar-item-box-icon" aria-hidden="true"></i>
					<span class="left-navbar-item-box-label"> About</span>
                </a>
            </div>
            <div class="left-navbar-item">
		    	<a class="left-navbar-item-box" href="">
					<i class="fa fa-user left-navbar-item-box-icon" aria-hidden="true"></i>
					<span class="left-navbar-item-box-label"> Contact</span>
                </a>
            </div>
		</nav>
		<main class="main-container">
            <div class="main-container-section">
                <img class="profile-pic" src="../static/img/me.png"alt="mypic" srcset="">
                <div class="main-container-section-box">
adasdas
                </div>
            </div>
            <div class="main-container-section">
            </div>
		</main>
		<footer>

		</footer>
	</body>
</html>
